body {
    background-color: #1D1E22;;
    /* background: #97A7B3; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
   
}
.navcolor{
    background-color: #7E7F9A;
}
.main-bt {
    background-color:  #c0d3ff;
    color: black;
    border: 5px solid white;
    border: 0px;
    transition: 0.3s;
}
.main-bt:hover{
    transition: 0.3s;
    transform: scaleX(1.05);
    background-color: #c0d3ff;
    border: 0px;
    color: black;
    border-radius: 3px;
}

.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    color: black;
}

.select{
    cursor: pointer;
}
.gone {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: 0.5s;
}

#joinDiv {
    transition: 1s;
}

hr{
    color: #EB9486;
}

.wait{
    display: none;
}

input{
    transition: all 0.3s;
}

input:focus{
    transform: scaleX(1.05);
}
@media all and (max-width: 560px) {
    .flex-xs-column{
        flex-direction: column!important;
    }
}